.info {
    margin-top: 42px;
}

.container {}

.info__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__block-img {}

.info__block-text {
    max-width: 481px;
}

.info__title {
    font-family: var(--fontPD);
    font-weight: 700;
    font-size: clamp(1.875rem, 1.791rem + 0.382vw, 2.25rem);
    color: #000;
}

.info__text {
    font-family: var(--fontMulish);
    font-weight: 300;
    font-size: 17px;
    line-height: 176%;
    color: #7d7987;
}

.info__btn {
    border-radius: 8px;
    padding:8px 37px 8px 39px ;
}  


@media(max-width:1160px){
    .info__content{
        flex-direction: column-reverse;
    }
}